{% load static %}
<html lang="en"> 
<head>
        <meta charset="UTF-8">
        <link rel="stylesheet" type="text/css" href="{% static 'project/style.css' %}" />
        <script src="{% static 'project/action.js' %}"></script>
</head>

<!-- Image Panel -->
<div>
    <div>
        <h1>Image Enhancement</h1>
        <img src="{{ img_url }}" onkeypress="changeSrc(this)" alt="User Image" id="img_main">
    </div>
    <div>
        <form method = "POST" action="{% url 'project:uploaded_photo' %}" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" value="Upload">Upload</button>
        </form>

    </div>
</div>

<!-- Adjustments Panel -->
<div class="panel" id="right_sidebar">
        <h2>Basic Adjustments</h2>
        <form method = "POST" action="{% url 'project:update' %}" ><!-- -->
            {% csrf_token %}
            <button name="base" id="btn_grayscale">{{ base }}</button>
        </form>
        <form method="POST" action="{% url 'project:update' %}" id="basic_form">
            {% csrf_token %}
            <label class="switch">
              <input type="checkbox" onclick="changeLabel(this)" checked>
              <span class="toggle round"></span>
              <label id="switch_label" >Brightness</label>
            </label>
            
            {% for c in colors %}
                <label for="{{ c.name }}_slider">{{ c.name }} <span id="{{ c.name }}_span" >0.5</span></label>
                <input name="{{ c.name }}_slider" type="range" oninput="getValue(this, '{{ c.name }}_span')" min="0" max="100" value="" step="1" class="slider brightness" id="{{ c.name }}_slider">
                <br>
            {% endfor %}
            <button name="basic" type="submit">Update</button>
        </form>
        <h2>Advanced Adjustments</h2>
        <form method="POST" action="{% url 'project:update' %}" id="advanced_form">
            {% csrf_token %}
            <button name="diff_trans">Difference</button>
        </form>
        <h2>Metrics</h2>
        <div>Entropy: {{ entropy }}</div>
        <h2>{{ base }} Histogram</h2>
        <div><img src="{{ url_histogram }}" id="img_histogram" alt="Histogram"/></div>
</div>