<!DOCTYPE html> 
<html lang="en"> 
<head> 
    <meta charset="UTF-8"> 
    <title>Image</title> 
</head> 
<body> 
    <p>Standard input image:</p>
    <img src= "./media/images/project_image.jpg" height="200px" width="200px"></img>

    <p>Gray Scale Version</p>
    <img src= "./media/images/gray_project_image.jpg" height="200px" width="200px"></img>

    <h4>FIRST ORDER ENTROPY: {{first_entropy}}</h4>

    <p>Difference Version</p>
    <img src= "./media/images/difference_image.jpg" height="200px" width="200px"></img>

    <h4>POST TRANSFORMATION ENTROPY: {{second_entropy}}</h4>
    
</body> 
</html> 