body {
    display: flex;
    background-color: gray;
    justify-content: center;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}

button {
    text-align: center;
    padding: 10px;
    margin: 10px;
    transition: all 0.3s ease;
    color: white;
    font-size: 28px;
    background-color: rgb(75, 75, 75);
}

button:hover {
    background-color: #4CAF50;
}

button:active {
    background-color: #317433;
}

#right_sidebar {
    justify-content: center;
    align-content: center;
    padding: 20px;
    margin-left: 20px;
    background-color: rgb(34, 34, 34);
    width: 400px;
    height: 90%;
}

#top_left {
    display: flex;
    flex-direction: column;
}

#img_main {
    width: 1000px;
    background-image: url("./images/upload.jpg");
    background-repeat: no-repeat;
    background-size: contain;
}

#img_histogram{
    width: 400px;
    height: 300px;
}

.slidecontainer {
width: 100%;
}

.slider {
-webkit-appearance: none;
appearance: none;
width: 100%;
height: 25px; 
background: #d3d3d3;
outline: none;
opacity: 0.7;
-webkit-transition: .2s;
transition: opacity .2s;
}

#red_slider {
    background: linear-gradient(90deg, black 0%, rgba(255,0,0,1) 50%, white 100%);
}

#green_slider {
    background: linear-gradient(90deg, black 0%, rgba(0,255,0,1) 50%, white 100%);
}

#blue_slider {
    background: linear-gradient(90deg, black 0%, rgba(0,0,255,1) 50%, white 100%);
}

#rgb_slider {
    background: linear-gradient(90deg, black 0%, rgba(125,125,125,1) 50%, white 100%);
}

.slider:hover {
opacity: 1;
}